<% provide(:title, "About") %>
<h1>Run to the Moon</h1>
<h3>What is it??</h3>
<p>Run to the Moon is an app to help motivate runners either individually or as
  a group.  Find people to run with and together and watch your progress as you
  run to the MOON!</p>
