<h1>Run to the Moon</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  Welcome to Run to the Moon! A fun app that brings your running group together to achieve a common goal.
  Soon you'll be logging miles and watching your progress as you virtually (or literally) run to a faraway destination.
</p>
<p>
  Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
