<footer class="footer">
  <small>
    The <a href="https://en.wikipedia.org/wiki/Moon">Wikipedia on the Moon</a>
    by <a href="https://en.wikipedia.org/wiki/String_theory">The Infinitely Expanding Universe</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.meetup.com/MadisonMorningRunners/">Downtown Morning Runners</a></li>
    </ul>
  </nav>
</footer>
